@model ClothingManager.Models.Clothing

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />

    <div class="row">
        <div class="col-12">
            <strong>@Html.DisplayNameFor(model => model.Argb)</strong>
        </div>
        <div class="col-12 p-2">
            <div class="text-center" style="background-color:@(System.Drawing.ColorTranslator.ToHtml(Model.Color));width: 100%;height:100%">
                @Model.Argb.ToString("X6")
            </div>
        </div>
        @if (Model.ImagePath != null)
        {
            <div class="col-12">
                <img src="~/uploads/@(Model.ImagePath)" alt="@Html.DisplayFor(model => model.Name)" class="img-fluid" />
            </div>
        }
        <div class="col-12">
            @await Html.PartialAsync("_ClothingTagsPartial", Model)
        </div>
    </div>
</div>
<div class="row justify-content-around pr-3 pb-2 align-items-end h-100">
    <div class="col-auto">
        <a class="col-auto add-outfit-clothing" href="#" data-clothing-id="@Model.ID">
            <i class="material-icons">add_box</i>
        </a>
    </div>
    <div class="col-auto">
        <a asp-action="Edit" asp-route-id="@Model.ID">
            <i class="material-icons">edit</i>
        </a>
    </div>
    <div class="col=auto">
        <a asp-action="Delete" asp-route-id="@Model.ID">
            <i class="material-icons">delete</i>
        </a>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
